<html>
<head>
    <title>MortalKombat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
    <body ng-app="MortalKombat" style="background-image:url('mortalk.jpg'); background-repeat: no-repeat; background-size:cover">

        <div ng-controller="mainCtrl" class="container" style="margin-top:30px; background-color: rgba(238, 238, 238, 0.54)">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="text-align:center; margin-top:30px">Mortal Kombat #4Life</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="usr">Title:</label>
                                <input type="text" class="form-control" placeholder="Title" ng-model="newCartoon.name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="usr">Description:</label>
                                <input type="text" class="form-control" placeholder="Description" ng-model="newCartoon.desc">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="usr">URL:</label>
                                <input type="text" class="form-control" placeholder="URL" ng-model="newCartoon.url">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-xs-offset-4">
                    <a href="#" class="myButton" syle="margin-left:auto; margin-right:auto" ng-click="addCartoon()">Add</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 col-xs-offset-4">
                        <h3>Add Your Fighter</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-3" ng-repeat="cartoon in findArray">
                            <button type="button" ng-click="deleteCartoon($index)">Delete</button>
                            Name: {{cartoon.name}}<br>
                            <img ng-src="{{cartoon.url}}" style="height: 300px !important;" class="img-responsive"><br>
                            Description: {{cartoon.desc}}<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="main.js"></script>
        <script src="modelService.js"></script>
    </body>
</html>



